.title {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

mat-icon {
  line-height: 1em;
  font-size: 1em;
  height: 16px;
}

.img-button {
  min-width: 0;
  width: 36px;
  padding: 0;

  img {
    height: 36px;
    width: 36px;
  }
}


