
/*-------------------------------------------------------------------------*/

/*	# TITLE ELEMENT
/*	# BUTTONS
/*	# CALL OUT
/*	# DIVIDER
/*	# DROPCAP
/*	# LIST ELEMENT
/*	# SLOGAN ELEMENT
/*	# IMAGE BOX
/*	# SINGLE IMAGE
/*	# ACCORDION TOGGLE
/*	# PROGRESS BARS
/*	# TABS
/*	# MESSAGE BOX
/*	# PRICING TABLE
/*	# ICON BOX
/*	# IMAGE TEXT
/*	# TESTIMONIAL
/*	# QUOTE
/*	# TEAM
/*	# COUNTER
/*	# COUNTDOWN
/*	# INPUTS
/*      # SEARCH ON HEADER
/*	# ADVANCED PROMO
/*	# MASONRY
/*	# BLOG SETINGS
/*	# PORTFOLIO
/*	# CAROUSEL & SLIDERS
/*	# SOCIAL SHARE
/*	# CONTACT FORM 7
/*	# EASY PIE CHART
/*	# WIDGETS

/*-------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------*/
/*	# TITLE ELEMENT
/*-------------------------------------------------------------------------*/
h1.grve-element.grve-title-no-line,
h2.grve-element.grve-title-no-line,
h3.grve-element.grve-title-no-line,
h4.grve-element.grve-title-no-line,
h5.grve-element.grve-title-no-line,
h6.grve-element.grve-title-no-line {
	margin-bottom: 0.400em;
}

.grve-title-line {
	position: relative;
	margin-bottom: 0.533em;
}

.grve-title-line span {
	display: inline-block;
}

h1.grve-element.grve-title-line,
h2.grve-element.grve-title-line,
h3.grve-element.grve-title-line,
h4.grve-element.grve-title-line,
h5.grve-element.grve-title-line,
h6.grve-element.grve-title-line {
	margin-bottom: 0.533em;
}

h1.grve-element.grve-title-line span:after,
h2.grve-element.grve-title-line span:after,
h3.grve-element.grve-title-line span:after,
h4.grve-element.grve-title-line span:after,
h5.grve-element.grve-title-line span:after,
h6.grve-element.grve-title-line span:after {
	margin-top: 0.233em;
}

.grve-title-line span:after {
	content: '';
	width: 40%;
	height: 1px;
	display: block;
	clear: both;
	margin-top: 0.233em;
}

.grve-align-left .grve-title-line span:after ,
.grve-title-line.grve-align-left span:after {
	margin-left: 0;
	margin-right: auto;
}

.grve-align-center .grve-title-line span:after,
.grve-title-line.grve-align-center span:after {
	margin-left: auto;
	margin-right: auto;
}

.grve-align-right .grve-title-line span:after,
.grve-title-line.grve-align-right span:after {
	margin-left: auto;
	margin-right: 0;
}


/* Double Line */
h1.grve-element.grve-title-double-line,
h2.grve-element.grve-title-double-line,
h3.grve-element.grve-title-double-line,
h4.grve-element.grve-title-double-line,
h5.grve-element.grve-title-double-line,
h6.grve-element.grve-title-double-line {
	margin-bottom: 0.533em;
}

h1.grve-element.grve-title-double-line span:before,
h2.grve-element.grve-title-double-line span:before,
h3.grve-element.grve-title-double-line span:before,
h4.grve-element.grve-title-double-line span:before,
h5.grve-element.grve-title-double-line span:before,
h6.grve-element.grve-title-double-line span:before {
	margin-bottom: 0.233em;
}

h1.grve-element.grve-title-double-line span:after,
h2.grve-element.grve-title-double-line span:after,
h3.grve-element.grve-title-double-line span:after,
h4.grve-element.grve-title-double-line span:after,
h5.grve-element.grve-title-double-line span:after,
h6.grve-element.grve-title-double-line span:after {
	margin-top: 0.233em;
}

.grve-title-double-line {
	position: relative;
}

.grve-title-double-line span {
	display: inline-block;
}


.grve-title-double-line span:before {
	content: '';
	border-top: 1px solid;
	display: block;
	clear: both;
	margin-bottom: 0.233em;
}

.grve-title-double-line span:after {
	content: '';
	border-bottom: 1px solid;
	display: block;
	clear: both;
	margin-top: 0.233em;
}

/* Double Line Bottom */
h1.grve-element.grve-title-double-bottom-line,
h2.grve-element.grve-title-double-bottom-line,
h3.grve-element.grve-title-double-bottom-line,
h4.grve-element.grve-title-double-bottom-line,
h5.grve-element.grve-title-double-bottom-line,
h6.grve-element.grve-title-double-bottom-line {
	margin-bottom: 0.533em;
}

h1.grve-element.grve-title-double-bottom-line span:after,
h2.grve-element.grve-title-double-bottom-line span:after,
h3.grve-element.grve-title-double-bottom-line span:after,
h4.grve-element.grve-title-double-bottom-line span:after,
h5.grve-element.grve-title-double-bottom-line span:after,
h6.grve-element.grve-title-double-bottom-line span:after {
	margin-top: 0.233em;
}

.grve-title-double-bottom-line {
	position: relative;
}

.grve-title-double-bottom-line span {
	display: inline-block;
}

.grve-title-double-bottom-line span:after {
	content: '';
	height: 0.083em;
	border-top: 1px solid;
	border-bottom: 2px solid;
	display: block;
	clear: both;
	margin-top: 0.233em;
}

/*-------------------------------------------------------------------------*/
/*	# BUTTONS
/*-------------------------------------------------------------------------*/
input[type=submit],
input[type="reset"],
input[type="button"],
button {
	-webkit-appearance: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.grve-btn,
.tribe-events-button {
	margin: 0px;
	display: inline-block;
	border: none;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	letter-spacing: 0.300em;
	line-height: 100%;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.grve-btn-extralarge {
	padding: 2.500em 7.000em;
}

.grve-btn-large {
	padding: 2.200em 6.000em;
}

.grve-btn-medium {
	padding: 1.800em 5.000em;
}

.grve-modal-content input[type="submit"],
.grve-newsletter input[type="submit"] {
	padding: 0 5.000em;
}

.grve-modal-form-7 input[type="submit"] {
    padding: 1.800em 5.000em;
}

.grve-btn-small,
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	padding: 1.600em 4.000em;
}

.grve-btn-extrasmall {
	padding: 1.200em 3.000em;
}

/* Outline */

.grve-btn.grve-btn-line {
	background-color: transparent;
	border: 2px solid;
}

.grve-btn-extralarge.grve-btn-line {
	padding: 2.300em 7.000em;
}

.grve-btn-large.grve-btn-line {
	padding: 2.000em 6.000em;
}

.grve-btn-medium.grve-btn-line,
input[type="submit"].grve-btn-line {
	padding: 1.600em 5.000em;
}

.grve-btn-small.grve-btn-line {
	padding: 1.400em 4.000em;
}

.grve-btn-extrasmall.grve-btn-line {
	padding: 1.000em 3.000em;
}


/*-------------------------------------------------------------------------*/
/*	# CALL OUT
/*-------------------------------------------------------------------------*/
.grve-callout.grve-btn-right {
	position: relative;
	display: table;
}

.grve-callout.grve-btn-right .grve-callout-wrapper {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: 75%;
	padding-right: 30px;
}

.grve-callout.grve-btn-right .grve-button-wrapper {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: 25%;
	text-align: right;
	white-space: nowrap;
}

.grve-callout.grve-btn-bottom .grve-button-wrapper {
	margin: 30px 0 0 0;
}


/*-------------------------------------------------------------------------*/
/*	# DIVIDER
/*-------------------------------------------------------------------------*/
hr,
.grve-hr.grve-element {
	margin-bottom: 30px;
	display: block;
	border: none;
}

/* Space Divider */
.grve-hr.grve-space-divider {
	height: 30px;
	border: none;
}

/* Line Divider */
.grve-hr.grve-line-divider {
	border-top: 1px solid;
}

/* Dashed Divider */
.grve-hr.grve-dashed-line-divider {
	border-top: 1px dashed;
}

/* Double Line */
.grve-hr.grve-double-line-divider {
	height: 5px;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

/* Double Line */
.grve-hr.grve-top-line-divider {
	height: auto;
	border-bottom: 1px solid;
	text-align: right;
}

.grve-hr .grve-divider-backtotop {
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}

.grve-hr .grve-divider-backtotop:after {
	content: "\f106";
	font-family: FontAwesome;
	margin-left: 5px;
	position: relative;
	top: -1px;
}


/*-------------------------------------------------------------------------*/
/*	# DROPCAP
/*-------------------------------------------------------------------------*/
.grve-dropcap span {
	font-size: 1.6em;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #ffffff;
	margin-right: 10px;
	float: left;
}
.grve-dropcap span.grve-style-2 {
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

/*-------------------------------------------------------------------------*/
/*	# LIST ELEMENT
/*-------------------------------------------------------------------------*/
.grve-list ul {
	margin: 0;
	list-style: none;
}

.grve-list li:before {
	font-family: FontAwesome;
	line-height: inherit;
	margin-right: 10px;
	font-size: 0.8em;
	position: relative;
	top: -1px;
}

.grve-list.grve-list-check li:before {
	content: "\f00c";
}

.grve-list.grve-list-angle-right li:before {
	content: "\f105";
}

.grve-list.grve-list-angle-double-right li:before {
	content: "\f101";
}

.grve-list.grve-list-circle li:before {
	content: "\f111";
}

.grve-list.grve-list-square li:before {
	content: "\f0c8";
}

.grve-list.grve-list-minus li:before {
	content: "\f068";
}

.grve-list.grve-list-info-circle li:before {
	content: "\f05a";
}

.grve-list.grve-list-pencil li:before {
	content: "\f040";
}

.grve-list.grve-list-plus li:before {
	content: "\f067";
}

.grve-list.grve-list-check-square li:before {
	content: "\f14a";
}

.grve-list.grve-list-check-square-o li:before {
	content: "\f046";
}

.grve-list.grve-list-circle-o li:before {
	content: "\f10c";
}

.grve-list.grve-list-dot-circle-o li:before {
	content: "\f192";
}

.grve-list.grve-list-minus-square li:before {
	content: "\f146";
}

.grve-list.grve-list-minus-square-o li:before {
	content: "\f147";
}

.grve-list.grve-list-plus-square li:before {
	content: "\f0fe";
}

.grve-list.grve-list-plus-square-o li:before {
	content: "\f196";
}

.grve-list.grve-list-square-o li:before {
	content: "\f096";
}

.grve-list.grve-list-hand-o-right li:before {
	content: "\f0a4";
}

.grve-list.grve-list-thumbs-o-up li:before {
	content: "\f087";
}

.grve-list.grve-list-thumbs-o-down li:before {
	content: "\f088";
}

.grve-list.grve-list-thumbs-up li:before {
	content: "\f164";
}

.grve-list.grve-list-thumbs-down li:before {
	content: "\f165";
}


/*-------------------------------------------------------------------------*/
/*	# SLOGAN ELEMENT
/*-------------------------------------------------------------------------*/
.grve-slogan.grve-align-center .grve-btn {
	margin-left: 15px;
	margin-right: 15px;
}

.grve-slogan.grve-align-left .grve-btn {
	margin-left: 0;
	margin-right: 30px;
}

.grve-slogan.grve-align-right .grve-btn {
	margin-left: 30px;
	margin-right: 0;
}


/*-------------------------------------------------------------------------*/
/*	# IMAGE BOX
/*-------------------------------------------------------------------------*/
.grve-box .grve-media {
	margin-bottom: 30px;
	position: relative;
}

.grve-box .grve-media img {
	opacity: 0;
}

.grve-box .grve-media .grve-map img {
	opacity: 1;
}

/*-------------------------------------------------------------------------*/
/*	# SINGLE IMAGE
/*-------------------------------------------------------------------------*/
.grve-image img {
	opacity: 0;
}

.grve-image.grve-align-left,
img.grve-align-left {
	float:left;
	margin: 0px 10px 0px 0px;
	z-index: 1;
}

.grve-image.grve-align-right,
img.grve-align-right {
	float:right;
	margin: 0px 0px 0px 10px;
	z-index: 1;
}

.grve-image.grve-align-center,
img.grve-align-center {
	display: block;
	margin: 0px auto;
	z-index: 1;
}

.grve-image {
	position: relative;
}

.grve-image-wrapper {
	position: relative;
	display: inline-block;
	position: relative;
}

/* Video Link */
.grve-icon-video:before {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 50%;
	top: 50%;
	margin-top: -30px;
	margin-left: -30px;
	font-size: 27px;
	text-align: center;
	line-height: 60px;
	color: #ffffff;
	z-index: 1;
	background-color: rgba(0,0,0,0.7);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* Aligns */
.grve-image.grve-align-left,
.grve-image.grve-align-right {
	float: none;
	margin: 0;
}

.grve-full-image img {
	width: 100%;
}

/*-------------------------------------------------------------------------*/
/*	# ACCORDION TOGGLE
/*-------------------------------------------------------------------------*/
.grve-accordion-wrapper,
.grve-toggle-wrapper {
	list-style: none;
	margin: 0;
}

.grve-accordion-wrapper > li,
.grve-toggle-wrapper > li {
	margin-bottom: 1.786em;
	padding-bottom: 1.286em;
	border-bottom: 1px solid;
}

.grve-accordion-wrapper > li:last-child,
.grve-toggle-wrapper > li:last-child {
	border-bottom: none;
}

.grve-accordion .grve-content,
.grve-toggle .grve-content {
	display: none;
	padding-left: 18px;
}

.grve-accordion .active > .grve-content,
.grve-toggle .active > .grve-content {
	display: block;
}

.grve-accordion .grve-title,
.grve-toggle .grve-title {
	cursor: pointer;
	display: inline-block;
	line-height: 1.4em;
	padding-bottom: 0.500em;
	position: relative;
	padding-left: 18px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}

.grve-accordion .grve-title:before,
.grve-toggle .grve-title:before {
	content: "\f105";
	font-size: 0.6em;
	font-family: FontAwesome;
	position: absolute;
	top: -0.111em;
	left: 0;
	width: 20px;
	margin-right: 10px;
	height: inherit;
	text-align: left;
	line-height: inherit;
}

.grve-accordion .grve-title.active:before,
.grve-toggle .grve-title.active:before {
	opacity: 1;
	content: "\f107";
}


/*-------------------------------------------------------------------------*/
/*	# PROGRESS BARS
/*-------------------------------------------------------------------------*/
.grve-progress-bars.grve-line-round .grve-bar {
	-webkit-border-radius: 200px;
	border-radius: 200px;
}

.grve-progress-bar {
	overflow: hidden;
}

.grve-bar-line {
	width: 0px;
	height: 35px;
}

/* Style 1 */
.grve-progress-bars.grve-style-1 .grve-bar {
	display:block;
	overflow: hidden;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.1);
}

.grve-progress-bars.grve-style-1 .grve-bar-title {
	position: absolute;
	top: 50%;
	left: 0px;
	line-height: 1;
	color: #fff;
	margin-left: 30px;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.grve-progress-bars.grve-style-1 .grve-percentage {
	position: absolute;
	top: 50%;
	left: 0px;
	line-height: 1;
	color: #fff;
	margin-left: -50px;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}


/* Style 2 */
.grve-progress-bars.grve-style-2 .grve-bar {
	display:block;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.1);
}

.grve-progress-bars.grve-style-2 .grve-percentage {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 1;
	color: #fff;
	padding: 6px 8px;
	background-color: #454545;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
.grve-progress-bars.grve-style-2 .grve-percentage:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -5px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #454545;
}

.grve-progress-bars.grve-line-round.grve-style-2 .grve-bar-line {
	-webkit-border-radius: 200px 0 0 200px;
	border-radius: 200px 0 0 200px;
}

/*-------------------------------------------------------------------------*/
/*	# TABS
/*-------------------------------------------------------------------------*/
.grve-tabs-title {
	display: inline-block;
	list-style: none;
	margin: 0;
}

.grve-tabs-title li {
	cursor: pointer;
	padding: 0 3.000em;
	float: left;
	background-color: #EDF0F3;
	background-color: rgba(225,227,229,0.5);
	line-height: 3.500em;
	margin-right: 1px;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}

.grve-tabs-title li:last-child {
	margin-right: 0;
}

.grve-tabs-title li.active {
	cursor: default;
}

.grve-tabs-wrapper {
	overflow: hidden;
	margin-top: 12px;
}

.grve-tab-content {
	display: none;
}

.grve-tab-content .grve-element {
	margin-top: 0px;
}

.grve-element .grve-tab-content  p{
	margin-top: 0px;
}

.grve-tab-content.active {
	display: block;
}

/* Vertical Tabs */
.grve-vertical-tab .grve-tabs-title {
	float: left;
	width: 30%;
	min-width: 120px;
	max-width: 250px;
	display: block;
	padding-right: 30px;
}

.grve-vertical-tab .grve-tabs-title li {
	float: none;
	margin-right: 0;
	margin-bottom: 1px;
}
/*-------------------------------------------------------------------------*/
/*	# MESSAGE BOX
/*-------------------------------------------------------------------------*/
.grve-message {
	padding: 15px;
	position: relative;
}

.grve-message .grve-icon {
	float: left;
	line-height: 1.9em;
	margin-right: 15px;
}

.grve-message p {
	margin-bottom: 0;
	font-size: 0.9em;
}

.grve-message .grve-close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0.7em;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	cursor: pointer;
}

/*-------------------------------------------------------------------------*/
/*	# PRICING TABLE
/*-------------------------------------------------------------------------*/
.grve-pricing-table {
	text-align: center;
	border: 1px solid;
	overflow: hidden;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
	background-color: #ffffff;
}

.grve-pricing-table ul {
	list-style: none;
	margin: 0;
}

.grve-pricing-table ul li {
	padding: 20px 10px;
	border-bottom: 1px solid;
}

.grve-pricing-title {
	line-height: 1;
	margin: 0px;
	padding: 15px 10px;
}

#grve-main-content h4.grve-price,
#grve-main-content h6.grve-pricing-title {
	color: #fff;
}

.grve-price {
	padding: 35px 10px;
	margin: 0;
	border-top: 1px solid rgba(255,255,255,0.4);
}

.grve-pricing-table .grve-btn {
	margin: 45px 0px;
}

/*-------------------------------------------------------------------------*/
/*	# ICON BOX
/*-------------------------------------------------------------------------*/
.grve-box-icon .grve-icon {
	text-align: center;
}

.grve-box-icon .grve-icon.grve-small {
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
}

.grve-box-icon .grve-icon.grve-medium {
	width: 70px;
	height: 70px;
	line-height: 70px;
	font-size: 40px;
}

.grve-box-icon .grve-icon.grve-large {
	width: 100px;
	height: 100px;
	line-height: 100px;
	font-size: 60px;
}

.grve-box-icon .grve-icon.grve-outline {
	border: 2px solid;
}

.grve-box-icon .grve-icon.grve-no-shape {
	border: none;
}

/* Image Icon */
.grve-box-icon .grve-icon.grve-image-icon {
	font-size: 0;
}

.grve-box-icon .grve-icon.grve-small img {
	max-width: 20px;
}

.grve-box-icon .grve-icon.grve-medium img {
	max-width: 40px;
}

.grve-box-icon .grve-icon.grve-large img {
	max-width: 60px;
}

/* Icon Box Aligment */
.grve-box-icon.grve-align-left .grve-box-content,
.grve-box-icon.grve-align-right .grve-box-content {
	overflow: hidden;
}

.grve-box-icon.grve-align-left .grve-icon {
	float: left;
	margin-right: 30px;
}

.grve-box-icon.grve-align-left {
	text-align: left;
}

.grve-box-icon.grve-align-right .grve-icon {
	float: right;
	margin-left: 30px;
}

.grve-box-icon.grve-align-right {
	text-align: right;
}

.grve-box-icon.grve-align-center .grve-icon {
	float: none;
	margin: 0 auto 30px auto;
	display: block;
}

.grve-box-icon.grve-align-center .grve-icon.grve-no-shape {
	height: auto;
	line-height: 1em;
}

/* Advanced Hover */
.grve-box-icon.grve-advanced-hover {
	visibility: hidden;
	overflow: hidden;
}

.grve-box-icon.grve-advanced-hover.active,
.grve-box-icon.grve-advanced-hover.active p {
	visibility: visible;
	-webkit-transition: padding 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.8s;
	transition:         padding 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.8s;
}

.grve-box-icon.grve-advanced-hover p {
	opacity: 0;
}

.grve-box-icon.grve-advanced-hover.hover,
.grve-box-icon.grve-advanced-hover.hover p {
	padding-top: 0px !important;
	opacity: 1;
}


/*-------------------------------------------------------------------------*/
/*	# IMAGE TEXT
/*-------------------------------------------------------------------------*/
.grve-image-text {
	word-spacing: -0.26em;
}

.grve-image-text .grve-content {
    word-spacing: 0.25em;
}

.grve-image-text .grve-image,
.grve-image-text .grve-content {
	width: 50%;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin: 0px !important;
}

.grve-image-text .grve-content.grve-align-left {
	padding-left: 60px;
}

.grve-image-text .grve-content.grve-align-right {
	padding-right: 60px;
}

.grve-section[data-section-type="fullwidth-element"] .grve-image-text .grve-content {
	padding-left: 8%;
	padding-right: 8%;
}

.grve-image-text .grve-image img {
	display: block;
	margin: 0 auto;
}

.grve-image-text .grve-btn {
	margin: 0px;
}


/*-------------------------------------------------------------------------*/
/*	# TESTIMONIAL
/*-------------------------------------------------------------------------*/
.grve-testimonial {
	overflow: hidden;
}

.grve-testimonial-element {
	display: inline-block;
	width: 100%;
}

.grve-testimonial-name {
	letter-spacing: 0.300em;
	margin-bottom: 30px;
}

.grve-testimonial-name:before {
	content: '–';
}

/* Styling Pagination*/

div.owl-pagination {
	position: relative;
	z-index: 2;
	display: inline-block;
}

.grve-testimonial .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}

.grve-testimonial .owl-controls .owl-page span {
	display: block;
	filter: Alpha(Opacity=30);/*IE7 fix*/
	opacity: 0.3;
}

.grve-testimonial .owl-controls .owl-page.active span,
.grve-testimonial .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

.grve-testimonial[data-navigation-type="1"] .owl-controls .owl-page span {
	width: 20px;
	height: 2px;
	margin: 5px 7px;
}

.grve-testimonial[data-navigation-type="2"] .owl-controls .owl-page span {
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.grve-testimonial[data-navigation-type="3"] .owl-controls .owl-page span {
	width: 2px;
	height: 20px;
	margin: 5px 7px;
}

.grve-testimonial[data-navigation-type="3"] .owl-controls .owl-page {
	display: block;
}

.grve-testimonial[data-navigation-type="3"] .owl-controls.clickable {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}


.grve-testimonial[data-navigation-type="3"].grve-carousel-element {
	padding-right: 40px;
}

.grve-testimonial[data-navigation-type="3"].grve-carousel-element .owl-wrapper-outer {
	width: 100%;
	overflow: hidden;
}

.grve-testimonial[data-navigation-type="4"] .owl-controls .owl-page span {
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.grve-testimonial[data-navigation-type="4"] .owl-controls .owl-page {
	display: block;
}

.grve-testimonial[data-navigation-type="4"] .owl-controls.clickable {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}

.grve-testimonial[data-navigation-type="4"].grve-carousel-element {
	padding-right: 40px;
}

.grve-testimonial[data-navigation-type="4"].grve-carousel-element .owl-wrapper-outer {
	width: 100%;
	overflow: hidden;
}


.grve-testimonial.grve-carousel-element .grve-testimonial-thumb img {
	width: 80px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	margin-bottom: 30px;
}

.grve-testimonial-grid .grve-testimonial-author {
	display: table;
}

.grve-testimonial-grid .grve-testimonial-thumb {
	width: 40px;
}

.grve-testimonial-grid .grve-testimonial-thumb,
.grve-testimonial-grid .grve-testimonial-name {
	display: table-cell;
	vertical-align: middle;
}

.grve-testimonial-grid .grve-testimonial-thumb + .grve-testimonial-name {
	padding-left: 10px;
}

.grve-testimonial-grid .grve-testimonial-thumb img {
	width: 40px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.grve-testimonial-grid.grve-border-mode .grve-isotope-item-inner {
	border: 1px solid;
	padding: 15px;
	background-color: #ffffff;
}

/*-------------------------------------------------------------------------*/
/*	# QUOTE
/*-------------------------------------------------------------------------*/
blockquote {
	padding-left: 25px;
	position: relative;
}

blockquote:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
}

blockquote {
	margin-bottom: 30px;
}

.grve-row blockquote.grve-element:last-child {
	margin-bottom: 0;
}

/*-------------------------------------------------------------------------*/
/*	# TEAM
/*-------------------------------------------------------------------------*/
.grve-team {
	overflow: hidden;
}

.grve-team figure .grve-team-social ul {
	margin: 0;
	list-style: none;
}

.grve-team figure .grve-team-social ul li {
	display: inline-block;
}

.grve-team figure .grve-team-social ul li:after {
	content: '|';
	opacity: 0.4;
	margin: 0 5px;
}

.grve-team figure .grve-team-social ul li:last-child:after {
	display: none;
}

.grve-team figure .grve-team-social ul li a {
	display: inline-block;
	text-align: center;
	-webkit-transition: color 0.35s, -webkit-transform 0.35s;
	transition: color 0.35s, transform 0.35s;
}

.grve-team figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0 10px;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}


/* Style 1 */
.grve-team figure.grve-style-1 .grve-team-name {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	opacity: 0;
	letter-spacing: 0.300em;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-150%,0);
	transform: translate3d(0,-150%,0);
}

.grve-team figure.hover.grve-style-1 .grve-team-name {
	opacity: 1;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

.grve-team figure.grve-style-1 .grve-team-identity {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	opacity: 0;
	letter-spacing: 0.300em;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-200%,0);
	transform: translate3d(0,-200%,0);
}

.grve-team figure.hover.grve-style-1 .grve-team-identity {
	opacity: 1;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
	-webkit-transform: translate3d(0,-150%,0);
	transform: translate3d(0,-150%,0);
}

#grve-main-content .grve-team figure.grve-style-1 .grve-team-name.grve-dark,
#grve-main-content .grve-team figure.grve-style-1 .grve-team-identity.grve-dark,
#grve-main-content figure.grve-style-1 .grve-team-social.grve-dark li a {
	color: #ffffff;
}

.grve-team figure.grve-style-1 .grve-team-social ul {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}

.grve-team figure.grve-style-1 .grve-team-social ul li {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d( 0, 100%, 0 );
	transform: translate3d( 0, 100%, 0 );
}
.grve-team figure.hover.grve-style-1 .grve-team-social ul li {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/* Style 2 */
.grve-team figure.grve-style-2 {
	background-color: transparent;
}

.grve-team figure.grve-style-2 figcaption {
	position: relative;
}

.grve-team figure.grve-style-2 .grve-team-name {
	margin: 1.429em 0 0.357em 0;
}

.grve-team figure.grve-style-2 .grve-team-person {
	position: relative;
	overflow: hidden;
}


/*-------------------------------------------------------------------------*/
/*	# COUNTER
/*-------------------------------------------------------------------------*/
.grve-counter .grve-icon {
	font-size: 48px;
	margin-bottom: 0.167em;
}

.grve-counter .grve-counter-item,
.grve-counter .grve-counter-title {
	line-height: 1.1em;
}

.grve-counter .grve-counter-title {
	letter-spacing: 0.200em;
}

.grve-counter .grve-counter-item {
	margin-bottom: 0.286em;
}

.grve-counter .grve-counter-item {
	font-size: 5.000em;
}

/* Style 2 */
.grve-counter.grve-style-2 .grve-icon {
	font-size: 40px;
	margin-bottom: 15px;
}

.grve-counter.grve-style-2 .grve-counter-title {
	letter-spacing: 0.150em;
}

.grve-counter.grve-style-2 .grve-counter-item {
	font-size: 40px;
	font-weight: bold;
}

.grve-counter.grve-style-2 .grve-counter-title {
	font-size: 18px;
	display: block;
}

/*-------------------------------------------------------------------------*/
/*	# COUNTDOWN
/*-------------------------------------------------------------------------*/
.grve-countdown {
	text-align: center;
}

.grve-countdown .grve-countdown-item {
	display: inline-block;
	position: relative;
	text-align: center;
	margin-bottom: 0;
	padding: 0 3%;
}

.grve-countdown .grve-countdown-item .grve-number {
	min-width: 1.667em;
}

.grve-countdown .grve-countdown-item .grve-number {
	margin: 0;
}

@media only screen and (max-width: 767px) {
	.grve-countdown .grve-countdown-item {
		display: block;
		margin-bottom: 30px;
		padding: 0;
	}

	.grve-countdown .grve-countdown-item:last-child {
		margin-bottom: 0;
	}
}

/* Style 01 */
.grve-countdown.grve-style-1 .grve-countdown-item:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	border-right: 1px solid;
	width: 1px;
	height: 100%;
	opacity: 0.2;
}

@media only screen and (max-width: 767px) {
	.grve-countdown.grve-style-1 .grve-countdown-item {
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	.grve-countdown.grve-style-1 .grve-countdown-item:before {
		content: '';
		position: absolute;
		top: auto;
		bottom: 0;
		border-right: none;
		border-top: 1px solid;
		width: 100%;
		height: 1px;
	}
}

.grve-countdown.grve-style-1 .grve-countdown-item:last-child:before {
	display: none;
}

.grve-countdown.grve-style-1 .grve-countdown-item span {
	display: block;
	margin-top: 5px;
}

/* Style 02 */
.grve-countdown.grve-style-2 .grve-countdown-item .grve-number {
	display: inline-block;
	vertical-align: middle;
}

.grve-countdown.grve-style-2 .grve-countdown-item span {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

/* Style 03 */
.grve-countdown.grve-style-3 .grve-countdown-item {
	margin: 0 3px;
	padding: 15px 30px;
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.20);
	background-color: #ffffff;
}

.grve-countdown.grve-style-3 .grve-countdown-item span {
	display: block;
	margin-top: 5px;
}

/*-------------------------------------------------------------------------*/
/*	# INPUTS
/*-------------------------------------------------------------------------*/
.input-text,
input[type="text"],
input[type="input"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="url"],
input[type="tel"],
input[type="search"],
textarea,
select {
	border: 1px solid;
}

#grve-theme-wrapper .input-text,
#grve-theme-wrapper input[type="text"],
#grve-theme-wrapper input[type="input"],
#grve-theme-wrapper input[type="password"],
#grve-theme-wrapper input[type="email"],
#grve-theme-wrapper input[type="number"],
#grve-theme-wrapper input[type="date"],
#grve-theme-wrapper input[type="url"],
#grve-theme-wrapper input[type="tel"],
#grve-theme-wrapper input[type="search"],
#grve-theme-wrapper textarea,
#grve-theme-wrapper select {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 15px 10px;
	margin: 0;
	width: 100%;
	text-indent: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0), inset 0 0 0 0 rgba(0,0,0,0);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0), inset 0 0 0 0 rgba(0,0,0,0);
	background-color: transparent;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

#grve-theme-wrapper .input-text,
#grve-theme-wrapper input[type="text"]:hover,
#grve-theme-wrapper input[type="input"]:hover,
#grve-theme-wrapper input[type="password"]:hover,
#grve-theme-wrapper input[type="email"]:hover,
#grve-theme-wrapper input[type="number"]:hover,
#grve-theme-wrapper input[type="date"]:hover,
#grve-theme-wrapper input[type="url"]:hover,
#grve-theme-wrapper input[type="tel"]:hover,
#grve-theme-wrapper input[type="search"]:hover,
#grve-theme-wrapper textarea:hover,
#grve-theme-wrapper select:hover,
#grve-theme-wrapper input[type="text"]:focus,
#grve-theme-wrapper input[type="password"]:focus,
#grve-theme-wrapper input[type="email"]:focus,
#grve-theme-wrapper input[type="number"]:focus,
#grve-theme-wrapper input[type="date"]:focus,
#grve-theme-wrapper input[type="url"]:focus,
#grve-theme-wrapper input[type="tel"]:focus,
#grve-theme-wrapper input[type="search"]:focus,
#grve-theme-wrapper textarea:focus,
#grve-theme-wrapper select:focus,
#grve-above-footer .grve-newsletter input[type='text']:hover,
#grve-above-footer .grve-newsletter input[type='text']:focus,
#grve-above-footer .grve-newsletter input[type='email']:hover,
#grve-above-footer .grve-newsletter input[type='email']:focus {
	outline: none;
	background-color: #ffffff;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
}

#grve-theme-wrapper input[type=checkbox],
#grve-theme-wrapper input[type=radio] {
    margin-top: 1px;
}

#grve-theme-wrapper select  {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url(../images/graphics/select-icon.png);
	background-position: center right;
	background-repeat: no-repeat;
	text-indent: 0;
	padding: 12px 10px;
	min-height: 51px;
}

#grve-theme-wrapper select[multiple] {
	background-image: none;
}

/* Gravity Forms */
.gform_wrapper ul li.gfield,
.gform_wrapper .ginput_complex .ginput_left,
.gform_wrapper .ginput_complex .ginput_right,
.gform_wrapper .ginput_complex .ginput_full {
  margin-bottom: 30px;
}

/* Contact Form 7 Font Size */
.wpcf7-form .input-text,
.wpcf7-form input[type="text"],
.wpcf7-form input[type=".wpcf7-form input"],
.wpcf7-form input[type="password"],
.wpcf7-form input[type="email"],
.wpcf7-form input[type="number"],
.wpcf7-form input[type="url"],
.wpcf7-form input[type="tel"],
.wpcf7-form input[type="search"],
.wpcf7-form textarea,
.wpcf7-form select {
	font-size: 1.3em;
}

.wpcf7-form .grve-one-third {
	width: 32.666666%;
	float: left;
	margin-right: 1%;
	margin-bottom: 10px;
}

.wpcf7-form .grve-one-half {
	width: 49%;
	float: left;
	margin-right: 2%;
	margin-bottom: 15px;
}

.wpcf7-form .grve-one-third.grve-last-column,
.wpcf7-form .grve-one-half.grve-last-column {
	margin-right: 0;
}

#grve-theme-wrapper .wpcf7-form .grve-with-icon input {
    padding-left: 40px;
}

.wpcf7-form .grve-with-icon {
    position: relative;
}

.wpcf7-form .grve-with-icon i {
	position: absolute;
	top: 18px;
	width: 40px;
	text-align: center;
	left: 0;
	font-size: 16px;
	z-index: 10;
}


fieldset {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0 0 30px;
	padding: 15px;
}

legend {
	white-space: normal;
}

/* News Letter */
.grve-newsletter {
	position: relative;
	display: block;
	text-align: center;
}

.grve-newsletter input[type='text'],
.grve-newsletter input[type='email'] {
	width: 100%;
	max-width: 235px;
	height: 45px !important;
	margin-right: 15px;
	margin-bottom: 0;
	display: inline-block !important;
}

.grve-newsletter input[type='submit'] {
	height: 45px;
	border: none;
	margin-top: -2px;
	position: relative;
	margin-left: -19px;
	cursor: pointer;
	letter-spacing: 0.300em;
	display: inline-block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.grve-newsletter label {
	margin-right: 5px;
	display: inline-block;
}

/* News Letter for Bottom Bar*/
#grve-above-footer .grve-newsletter input[type='text'],
#grve-above-footer .grve-newsletter input[type='email'] {
	background-color: #ffffff;
	border: none;
}

.grve-newsletter form {
	margin: 0;
}

.mc4wp-form form, .mc4wp-form input, .mc4wp-form label {
    vertical-align: baseline;
}

/* News Letter for Widget */
.widget.widget_mc4wp_widget input[type='submit'] {
	margin-top: 30px;
}

.widget.widget_mc4wp_widget input[type='text'] {
	margin-bottom: 30px;
}

.widget.widget_mc4wp_widget label + input[type='text'] {
	margin-bottom: 0;
}

.grve-search {
	position: relative;
	display: block;
	max-width: 430px;
	margin: 0 auto;
}

.grve-search input[type='text'] {
	width: 100%;
	height: 45px;
	padding-left: 30px;
	padding-right: 35%;
}

.grve-search button[type='submit'] {
	width: 45px;
	height: 45px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	border-left: 1px solid;
	top: 0;
	right: 0;
	cursor: pointer;
}

/*-------------------------------------------------------------------------*/
/* # SEARCH ON HEADER
/*-------------------------------------------------------------------------*/
#grve-top-bar .grve-search {
 line-height: 32px;
 display: inline-block;
}
#grve-top-bar .grve-search input[type='text'] {
 height: 25px;
 border: none;
 padding: 5px !important;
}

#grve-top-bar .grve-search button[type='submit'] {
 border-left: none;
 padding: 0;
 height: 32px;
 top: 2px;
}

.grve-menu-options .grve-search {
 line-height: 35px;
 display: inline-block;
}
.grve-menu-options .grve-search button[type='submit'] {
 border-left: none;
 padding: 0;
 height: 33px;
 top: 2px;
}
.grve-menu-options .grve-search input[type="text"] {
    height: 35px;
    background-color: rgba(0,0,0,0.05) !important;
    padding: 5px !important;
}

/*-------------------------------------------------------------------------*/
/*	# ADVANCED PROMO
/*-------------------------------------------------------------------------*/
.grve-partner-advanced {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
	padding: 30px 0;
}

.grve-partner-advanced .grve-partner-content {
	margin-top: 30px;
}

.grve-partner-advanced .grve-partner-content {
	display: none;
}

.grve-partner-advanced .grve-partner-content p + .grve-btn {
	margin-top: 30px;
}

/* Text Animation */
.grve-partner-advanced .grve-partner-content p {
	-webkit-transform: translateY(80px);
	-moz-transform: translateY(80px);
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.grve-partner-advanced .grve-partner-content.grve-animated p {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	opacity: 1;
}

/* Button Animation */
.grve-partner-advanced .grve-partner-content .grve-btn {
	-webkit-transform: translateY(100px);
	-moz-transform: translateY(100px);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s 0.3s, opacity 0.3s 0.3s, color 0.35s, background-color 0.35s;
	-moz-transition: -moz-transform 0.3s 0.3s, opacity 0.3s 0.3s, color 0.35s, background-color 0.35s;
	transition: transform 0.3s 0.3s, opacity 0.3s 0.3s, color 0.35s, background-color 0.35s;
}

.grve-partner-advanced .grve-partner-content.grve-animated .grve-btn {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	opacity: 1;
}

/*-------------------------------------------------------------------------*/
/*	# MASONRY
/*-------------------------------------------------------------------------*/
.grve-isotope-container {
	opacity: 0;
}
.grve-isotope .grve-isotope-item .grve-media {
	overflow: hidden;
}


.grve-isotope-item.grve-packery-h2 img {
	width: auto;
	height: 100%;
	max-width: none;
}


/* Packery Columns 3 */
.grve-isotope[data-type="3-columns"] .grve-isotope-item.grve-packery-image {
	width: 33.3%;
}

.grve-isotope[data-type="3-columns"] .grve-isotope-item.grve-packery-h2 {
	width: 33.3%;
}

.grve-isotope[data-type="3-columns"] .grve-isotope-item.grve-packery-w2 {
	width: 66.6%;
}

.grve-isotope[data-type="3-columns"] .grve-isotope-item.grve-packery-h2-w2 {
	width: 66.6%;
}


/* Packery Columns 4 */
.grve-isotope[data-type="4-columns"] .grve-isotope-item.grve-packery-image {
	width: 24.90%;
}

.grve-isotope[data-type="4-columns"] .grve-isotope-item.grve-packery-h2 {
	width: 24.90%;
}

.grve-isotope[data-type="4-columns"] .grve-isotope-item.grve-packery-w2 {
	width: 49.80%;
}

.grve-isotope[data-type="4-columns"] .grve-isotope-item.grve-packery-h2-w2 {
	width: 49.80%;
}


/* Packery Columns 5 */
.grve-isotope[data-type="5-columns"] .grve-isotope-item.grve-packery-image {
	width: 19.90%;
}

.grve-isotope[data-type="5-columns"] .grve-isotope-item.grve-packery-h2 {
	width: 19.90%;
}

.grve-isotope[data-type="5-columns"] .grve-isotope-item.grve-packery-w2 {
	width: 39.75%;
}

.grve-isotope[data-type="5-columns"] .grve-isotope-item.grve-packery-h2-w2 {
	width: 39.75%;
}

/* 2 Columns */
.grve-isotope[data-type="2-columns"] .grve-isotope-item {
	width: 49.80%;
}

/* 3 Columns */
.grve-isotope[data-type="3-columns"] .grve-isotope-item {
	width: 33.3%;
}

/* 4 Columns */
.grve-isotope[data-type="4-columns"] .grve-isotope-item {
	width: 24.90%;
}

/* 5 Columns */
.grve-isotope[data-type="5-columns"] .grve-isotope-item {
	width: 19.90%;
}

/* Packery */
.grve-isotope[data-type="packery-type"] .grve-isotope-item {
	width: 19.90%;
}

.grve-isotope[data-type="packery-type"] .grve-isotope-item.medium-item {
	width: 30%;
}

.grve-isotope[data-type="packery-type"] .grve-isotope-item.small-item {
	width: 10%;
}

.grve-isotope[data-type="packery-type"] .grve-isotope-item.large-item {
	width: 49.80%;
}

/* Masonry Gutter */
.grve-isotope[data-gutter="yes"] .grve-isotope-container {
	margin-left: -15px;
	margin-right: -15px;
}

.grve-section[data-section-type="fullwidth-element"] .grve-isotope[data-gutter="yes"] .grve-isotope-container,
.grve-section[data-section-type="fullwidth-element"] .grve-isotope[data-gutter="yes"] .grve-filter,
.grve-section[data-section-type="fullwidth-element"] .grve-isotope[data-gutter="yes"] .grve-pagination {
	margin-left: 15px;
	margin-right: 15px;
}

.grve-isotope[data-gutter="yes"] .grve-isotope-item {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
}

.grve-section[data-section-type="fullwidth-element"] .grve-portfolio {
    margin-right: -15px;
}

/* Spinner */
.grve-iso-spinner {
	display: inline-block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 250px;
	left: 50%;
	margin-left: -30px;
	opacity: 0.4;
}

/*-------------------------------------------------------------------------*/
/*	# BLOG SETINGS
/*-------------------------------------------------------------------------*/
/* Classic Size */
.single-post #grve-post-content,
.grve-column-1 .grve-large-media .grve-post-content {
	width: 75.0%;
	margin-left: auto;
	margin-right: auto;
}

/* Wide Size */
.single-post .grve-left-sidebar #grve-post-content,
.single-post .grve-right-sidebar #grve-post-content,
.grve-left-sidebar .grve-large-media .grve-post-content,
.grve-right-sidebar .grve-large-media  .grve-post-content {
	width: 100%;
}

.grve-blog .grve-post-title {
	float: left;
	clear: both;
}

.grve-read-more,
.grve-blog .more-link {
	letter-spacing: 0.300em;
}

/* Blog Media */
.grve-blog.grve-small-media .grve-media img,
.grve-blog.grve-blog-grid .grve-media img,
.grve-blog.grve-blog-masonry .grve-media img {
	width: 100%;
	height: auto;
	max-width: none;
}

/* Blog Categoriew with Read More */
.grve-blog .grve-categories {
	float: left;
}

.grve-read-more + .grve-categories,
.more-link + .grve-categories {
	float: right;
}

/* Post Author */
.grve-blog .grve-post-author {
	line-height: 1;
}

/* Link Format */
.grve-blog .grve-label-post.format-link a {
	display: block;
	padding: 10px 30px;
	position: relative;
}

.grve-blog .grve-label-post.format-quote a {
	display: block;
	padding: 30px;
	position: relative;
}

/* Blog Meta */
.grve-blog .grve-post-meta {
	margin-bottom: 0.714em;
	display: block;
	overflow: hidden;
	clear: both;
}

.grve-blog .grve-post-meta .grve-post-author,
.grve-blog .grve-post-meta .grve-post-date,
.grve-blog .grve-post-meta .grve-post-comments {
	float: left;
	line-height: 1.1;
	margin-right: 8px;
	white-space: nowrap;
}

.grve-blog .grve-post-author:after {
	content: ',';
}

.grve-blog .grve-like-counter {
	line-height: 1.1;
}

.grve-blog .grve-like-counter span {
	margin-right: 5px;
}

/**
* Blog Large Media
* ----------------------------------------------------------------------------
*/
.grve-blog.grve-large-media .grve-blog-item {
	display: block;
	margin-bottom: 60px;
	padding-bottom: 37px;
	border-bottom: 1px solid;
}

.grve-blog.grve-large-media .grve-blog-item.format-link,
.grve-blog.grve-large-media .grve-blog-item.format-quote {
	padding-bottom: 60px;
}

.grve-blog.grve-large-media .grve-media {
	margin-bottom: 44px;
}

.grve-blog.grve-large-media .grve-post-title {
	margin-bottom: 0.455em;
}

.grve-blog.grve-large-media .grve-post-meta {
	margin-bottom: 1.143em;
}

/* sticky */
.grve-blog-item.sticky {
	-webkit-box-shadow: 0 1px 4px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 4px 1px rgba(0,0,0,0.1);
	background-color: #fafafa;
}

.grve-blog-item.sticky .grve-post-content {
	padding-top: 44px;
}

.grve-right-sidebar .grve-blog-item.sticky .grve-post-content,
.grve-left-sidebar .grve-blog-item.sticky .grve-post-content {
	padding-left: 40px;
	padding-right: 40px;
}

.grve-blog-item.sticky .grve-media {
	margin-bottom: 0;
}

/* Link & Quote Format */
.grve-blog.grve-large-media .grve-label-post.format-quote a .grve-post-icon,
.grve-blog.grve-large-media .grve-label-post.format-link a .grve-post-icon {
	float: left;
	line-height: 2em;
	margin-right: 15px;
}

/**
* Blog Small Media
* ----------------------------------------------------------------------------
*/
.grve-blog.grve-small-media .grve-blog-item {
	display: block;
	margin-bottom: 60px;
	padding-bottom: 37px;
	overflow: hidden;
	border-bottom: 1px solid;
}

.grve-blog.grve-small-media .grve-blog-item.format-link,
.grve-blog.grve-small-media .grve-blog-item.format-quote {
	padding-bottom: 60px;
}

.grve-blog.grve-small-media .grve-media {
	margin-bottom: 30px;
	margin-right: 60px;
	width: 45%;
	float: left;
}

.grve-blog.grve-small-media .grve-post-content {
	overflow: hidden;
}

.grve-blog.grve-small-media .grve-post-title {
	margin-bottom: 0.455em;
}

.grve-blog.grve-small-media .grve-post-meta {
	margin-bottom: 1.143em;
}

/* Link & Quote Format */
.grve-blog.grve-small-media .grve-label-post.format-quote a .grve-post-icon,
.grve-blog.grve-small-media .grve-label-post.format-link a .grve-post-icon {
	float: left;
	line-height: 2em;
	margin-right: 15px;
}

/* Blog Isotope */
.grve-blog-item.grve-isotope-item p {
    font-size: 0.9em;
}

/**
* Blog Grid
* ----------------------------------------------------------------------------
*/
.grve-blog.grve-blog-grid .grve-blog-item {
	display: block;
	margin-bottom: 60px;
	overflow: hidden;
}

.grve-blog.grve-blog-grid .grve-media {
	margin-bottom: 25px;
}

.grve-blog.grve-blog-grid .grve-post-title {
	margin-bottom: 6px;
}


/* Link & Quote Format */
.grve-blog.grve-blog-grid .grve-label-post.format-quote a .grve-post-icon,
.grve-blog.grve-blog-grid .grve-label-post.format-link a .grve-post-icon {
	float: left;
	line-height: 2em;
	margin-right: 15px;
}

/**
* Blog Masonry
* ----------------------------------------------------------------------------
*/

.grve-blog.grve-blog-masonry .grve-blog-item {
	display: block;
	margin-bottom: 60px;
	overflow: hidden;
}

.grve-blog.grve-blog-masonry .grve-media {
	margin-bottom: 25px;
}

.grve-blog.grve-blog-masonry .grve-post-title {
	margin-bottom: 6px;
}

/* Blog Hover Zoom In */
.grve-blog .grve-media.grve-image-hover a img {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
.grve-blog .grve-media.grve-image-hover.hover a img {
	opacity: 0.6;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

/* Link & Quote Format */
.grve-blog.grve-blog-masonry .grve-label-post.format-quote a .grve-post-icon,
.grve-blog.grve-blog-masonry .grve-label-post.format-link a .grve-post-icon {
	float: left;
	line-height: inherit;
	margin-right: 15px;
}

.grve-blog.grve-blog-masonry .grve-label-post.format-link a .grve-post-icon {
	line-height: 1.7em;
}

.grve-blog.grve-blog-grid .grve-isotope-container,
.grve-blog.grve-blog-masonry .grve-isotope-container {
	margin-left: -15px;
	margin-right: -15px;
}

.grve-section[data-section-type="fullwidth-element"] .grve-blog.grve-blog-grid .grve-isotope-container,
.grve-section[data-section-type="fullwidth-element"] .grve-blog.grve-blog-masonry .grve-isotope-container {
	margin-left: 15px;
	margin-right: 15px;
}

.grve-blog.grve-blog-grid .grve-isotope-item,
.grve-blog.grve-blog-masonry .grve-isotope-item {
	padding-left: 15px;
	padding-right: 15px;
}

/**
* Blog Gallery Format
* ----------------------------------------------------------------------------
*/
ul.grve-post-gallery {
	margin: 0;
	list-style: none;
	display: inline-block;
}

ul.grve-post-gallery li {
	float: left;
}

ul.grve-post-gallery li img {
	max-width: none;
	width: 100%;
}

ul.grve-post-gallery li a {
	display: block;
	overflow: hidden;
}

/* Gallery Hover Zoom In */
ul.grve-post-gallery li.grve-image-hover a img {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
ul.grve-post-gallery li.grve-image-hover.hover a img {
	opacity: 0.6;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

/* WP Gallery */
.gallery-item a img {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.gallery-item a:hover img {
	opacity: 0.6;
}

/* Large Media Blog */
.grve-large-media ul.grve-post-gallery {
	margin: 0 -15px -30px -15px;
}

.grve-large-media ul.grve-post-gallery li {
	padding: 0 15px;
	margin-bottom: 30px;
}

/* Grid, Masonry & Small Media Blog */
.grve-small-media ul.grve-post-gallery,
.grve-blog-grid ul.grve-post-gallery,
.grve-blog-masonry ul.grve-post-gallery {
	margin: 0 -5px -10px -5px;
}

.grve-small-media ul.grve-post-gallery li,
.grve-blog-grid ul.grve-post-gallery li,
.grve-blog-masonry ul.grve-post-gallery li {
	padding: 0 5px;
	margin-bottom: 10px;
}

/* Gallery Blog Element */
.grve-blog ul.grve-post-gallery li {
	width: 33.33333333333333%;
}

.grve-blog ul.grve-post-gallery li:nth-child(3n+1) {
	clear: both;
}

/* Gallery Single Post */
.single-post ul.grve-post-gallery {
	margin: 0 -15px -30px -15px;
}

.single-post ul.grve-post-gallery li {
	padding: 0 15px;
	margin-bottom: 30px;
}

.single-post ul.grve-post-gallery li {
	width: 20%;
}

.single-post ul.grve-post-gallery li:nth-child(5n+1) {
	clear: both;
}

.single-post .grve-left-sidebar ul.grve-post-gallery li ,
.single-post .grve-right-sidebar ul.grve-post-gallery li {
	width: 33.33333333333333%;
}

.single-post .grve-left-sidebar ul.grve-post-gallery li:nth-child(3n+1),
.single-post .grve-right-sidebar ul.grve-post-gallery li:nth-child(3n+1) {
	clear: both;
}


.single-post .grve-left-sidebar ul.grve-post-gallery li:nth-child(5n+1),
.single-post .grve-right-sidebar ul.grve-post-gallery li:nth-child(5n+1) {
	clear: none;
}



/**
* Blog With Borders
* ----------------------------------------------------------------------------
*/
.grve-blog.grve-border-mode .grve-isotope-item-inner {
	border: 1px solid;
	padding: 15px;
}

.grve-blog.grve-border-mode .grve-read-more {
	border-top: 1px solid;
	padding: 15px 15px 0 15px;
	display: block;
	margin: 0 -15px;
}

.grve-blog.grve-border-mode .grve-label-post.format-quote .grve-isotope-item-inner,
.grve-blog.grve-border-mode .grve-label-post.format-link .grve-isotope-item-inner {
	border: none;
	padding: 0;
}
/**
* Blog Carousel
* ----------------------------------------------------------------------------
*/
.grve-carousel-wrapper .grve-post-item .grve-media {
	margin-bottom: 0;
	position: relative;
}

.grve-carousel-wrapper .grve-post-item .grve-post-title {
	margin-bottom: 6px;
}

.grve-carousel-wrapper .grve-post-item .grve-caption {
	line-height: 1.5;
	letter-spacing: 0.300em;
}

.grve-carousel-wrapper .grve-post-item .grve-content {
	padding: 20px;
	border: 1px solid;
	border-top: none;
}

/* Image Zoom In */
.grve-carousel-wrapper .grve-post-item .grve-image-hover img {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.grve-carousel-wrapper .grve-post-item .grve-image-hover.hover img {
	opacity: 0.6;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

.grve-carousel-wrapper .grve-post-item .grve-image-hover.hover .grve-no-image:before {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

/*-------------------------------------------------------------------------*/
/*	# PORTFOLIO
/*-------------------------------------------------------------------------*/
/* Hover Style 1 */
.grve-portfolio .grve-like-counter:before {
	vertical-align: bottom;
}

.grve-portfolio .grve-hover-style-1.grve-image-hover .grve-like-counter {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 9;
	padding: 10px;
	display: inline-block;
	z-index: 999;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate(-50%,-100%);
	transform: translate(-50%,-100%);
}

.grve-portfolio .grve-hover-style-1.grve-image-hover.hover .grve-like-counter {
	-webkit-transform: translate(-50%,0);
	transform: translate(-50%,0);
}

.grve-portfolio .grve-hover-style-1.grve-like-counter span {
	margin-left: 5px;
}


.grve-portfolio .grve-hover-style-1.grve-image-hover .grve-portfolio-btns {
	letter-spacing: 0.300em;
	opacity: 0;
	display: inline-block;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate(0,100px);
	transform: translate(0,100px);
}

.grve-portfolio .grve-hover-style-1.grve-image-hover.hover .grve-portfolio-btns {
	opacity: 1;
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
}

/* Hover Style 2 */
.grve-portfolio .grve-hover-style-2 {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.grve-portfolio .grve-hover-style-2 a {
	display: block;
	position: relative;
}

.grve-portfolio .grve-hover-style-2 .grve-media {
	position: relative;
}

.grve-portfolio .grve-hover-style-2 img {
	display: block;
	position: relative;
	width: 100%;
}

.grve-portfolio .grve-hover-style-2 figcaption {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	z-index: 2;
	padding: 30px;
}

.grve-portfolio .grve-hover-style-2 figcaption .grve-content {
	z-index: 3;
	position: absolute;
	left: 30px;
	top: 50%;
	margin-top: -15px;
}

.grve-portfolio .grve-hover-style-2 figcaption .grve-like-counter {
	width: 40px;
	height: 40px;
	line-height: 37px;
	text-align: center;
	display: inline-block;
	margin-bottom: 30px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.grve-portfolio .grve-hover-style-2 figcaption .grve-title {
	margin-bottom: 6px;
}

.grve-portfolio .grve-hover-style-2 figcaption .grve-caption {
	line-height: 1.2;
	margin-bottom: 3.000em;
	display: block;
}


/* Without Hover */
.grve-portfolio .grve-hover-style-3 {
	position: relative;
}

.grve-portfolio[data-gutter="no"] .grve-hover-style-3 {
	margin-bottom: 30px;
}


.grve-portfolio .grve-hover-style-3 .grve-media {
	position: relative;
	margin-bottom: 15px;
	overflow: hidden;
}

.grve-portfolio .grve-hover-style-3.grve-image-hover figcaption {
	position: relative;
	padding: 0;
	top: 0;
	left: 0;
	width: 70%;
	height: auto;
	text-align: left;
	overflow: hidden;
	float: left;
	min-height: 40px;
}

.grve-portfolio[data-gutter="no"] .grve-hover-style-3.grve-image-hover figcaption,
.grve-carousel.grve-portfolio .grve-hover-style-3.grve-image-hover figcaption {
	padding-left: 15px;
}


.grve-portfolio .grve-hover-style-3 .grve-like-counter {
	float: right;
	opacity: 0.7;
	line-height: 1.2;
	background-color: transparent !important;
}

.grve-portfolio[data-gutter="no"] .grve-hover-style-3 .grve-like-counter,
.grve-carousel.grve-portfolio .grve-hover-style-3 .grve-like-counter {
	padding-right: 15px;
}

.grve-portfolio .grve-hover-style-3 .grve-like-counter:before {
	opacity: 0.3;
}

.grve-portfolio .grve-hover-style-3 .grve-like-counter span {
	top: -3px;
	position: relative;
	font-size: 10px !important;
}

/* Title Settings */
.grve-portfolio .grve-hover-style-3.grve-image-hover .grve-title {
	display: block;
	opacity: 1;
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
}

/* Caption Settings */
.grve-portfolio .grve-hover-style-3.grve-image-hover .grve-caption {
	display: block;
	opacity: 0.5;
	margin: 0;
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
}

/* Link Settings */
.grve-portfolio .grve-hover-style-3 .grve-portfolio-btns {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	line-height: 1.2;
	padding: 10px 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, background-color 0.35s, color 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, background-color 0.35s, color 0.35s, transform 0.35s;
	-webkit-transform: translate(-50%,-100%);
	transform: translate(-50%,-100%);
}

.grve-portfolio .grve-hover-style-3.hover .grve-portfolio-btns {
	opacity: 1;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.grve-portfolio .grve-hover-style-3 .grve-dark-overlay .grve-portfolio-btns {
	background-color: #ffffff;
	color: #454545;
}

.grve-portfolio .grve-hover-style-3 .grve-light-overlay .grve-portfolio-btns,
.grve-portfolio .grve-hover-style-3 .grve-primary-1-overlay .grve-portfolio-btns,
.grve-portfolio .grve-hover-style-3 .grve-primary-2-overlay .grve-portfolio-btns,
.grve-portfolio .grve-hover-style-3 .grve-primary-3-overlay .grve-portfolio-btns,
.grve-portfolio .grve-hover-style-3 .grve-primary-4-overlay .grve-portfolio-btns,
.grve-portfolio .grve-hover-style-3 .grve-primary-5-overlay .grve-portfolio-btns {
	background-color: #454545;
	color: #ffffff !important;
}

.grve-portfolio .grve-hover-style-3 .grve-primary-1-overlay .grve-portfolio-btns:hover,
.grve-portfolio .grve-hover-style-3 .grve-primary-2-overlay .grve-portfolio-btns:hover,
.grve-portfolio .grve-hover-style-3 .grve-primary-3-overlay .grve-portfolio-btns:hover,
.grve-portfolio .grve-hover-style-3 .grve-primary-4-overlay .grve-portfolio-btns:hover,
.grve-portfolio .grve-hover-style-3 .grve-primary-5-overlay .grve-portfolio-btns:hover {
	background-color: #ffffff;
	color: #454545 !important;
}



/*-------------------------------------------------------------------------*/
/*	# CAROUSEL & SLIDERS
/*-------------------------------------------------------------------------*/
.grve-carousel-wrapper {
	position: relative;
	overflow: hidden;
	z-index: 3;
}

.grve-slider {
	overflow: hidden;
}

.grve-slider .grve-slider-item img {
	height: auto;
	line-height: 0;
	margin: 0 auto;
	max-width: 100%;
	width: auto;
}

/* clearfix */
.grve-slider .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.grve-slider {
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.grve-slider .grve-slider-item img {
	width: 100%;
}

#grve-feature-slider.grve-slider {
	display: block;
}
.grve-slider .owl-wrapper{
	position: relative;
/*	-webkit-transform: translate3d(0px, 0px, 0px);*/
}
.grve-slider .owl-wrapper-outer{
	position: relative;
	width: 100%;
	z-index: 1;
}
.grve-slider .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

.grve-slider .owl-item{
	float: left;
}

/* clearfix */
.grve-carousel-element .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.grve-carousel-element{
	width: 100%;
	visibility: hidden;
	-ms-touch-action: pan-y;
}
.grve-carousel-element .owl-wrapper{
	position: relative;
	overflow: hidden;
}
.grve-carousel-element .owl-wrapper-outer{
	position: relative;
	width: 100%;
	z-index: 1;
}
.grve-carousel-element .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

.grve-carousel-element .owl-item {
	float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
		cursor:url(../images/graphics/grabbing.png) 8 8, move;
}

/* fix */
.grve-slider  .owl-wrapper,
.grve-slider  .owl-item{
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	overflow: hidden;
}

.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}


/*-------------------------------------------------------------------------*/
/*	# SOCIAL SHARE
/*-------------------------------------------------------------------------*/
.grve-element.grve-social ul,
#grve-social-share-responsive ul {
	margin: 0 auto;
	list-style: none;
	display: inline-block;
}

.grve-element.grve-social ul li,
#grve-social-share-responsive ul li {
	display: inline-block;
	margin: 0px 5px;
	position: relative;
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.grve-element.grve-social ul li .grve-like-counter,
#grve-social-share-responsive ul li .grve-like-counter {
	position: absolute;
	left: 100%;
	line-height: 30px;
	margin-left: 5px;
	font-size: 0.8em;
}

.grve-element.grve-social ul li a,
#grve-social-share-responsive ul li a {
	display: inline-block;
	width: inherit;
	height: inherit;
	line-height: inherit;
	text-align: center;
	font-size: 16px;
	border: 1px solid;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.grve-element.grve-social.grve-align-left li,
#grve-social-share-responsive ul li {
	margin-left: 0;
}

.grve-element.grve-social.grve-align-right li {
	margin-right: 0;
}

/*-------------------------------------------------------------------------*/
/*	# CONTACT FORM 7
/*-------------------------------------------------------------------------*/
.wpcf7-validation-errors {
	border: none;
	display: inline-block;
}

.wpcf7-response-output {
	margin: 0;
}

.wpcf7-form br {
	line-height: 3.600em;
}

div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ok {
	border: 1px solid #E5E5E5;
}

div.wpcf7-response-output {
	margin: 0;
	padding: 0.2em 1em;
	font-size: 0.9em;
	background-color: #F4F4F4;
	color: #BDBDBD;
	text-align: center;
	width: 100%;
}

.wpcf7-form-control-wrap {
	z-index: 5;
}



/*-------------------------------------------------------------------------*/
/*	# EASY PIE CHART
/*-------------------------------------------------------------------------*/
.grve-pie-chart {
	text-align: center;
}

.grve-chart-number {
	position: relative;
}

.grve-chart-number canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.grve-chart-number {
	font-size: 35px;
    font-weight: 500;
	text-align: center;
	margin: 0 auto 18px auto;
}

.grve-chart-number:last-child {
	margin-bottom: 0;
}

.grve-pie-chart .grve-counter{
	float: none;
	margin: 0;
}

/*-------------------------------------------------------------------------*/
/*	# WIDGETS
/*-------------------------------------------------------------------------*/
.widget,
.widgets {
	margin-bottom: 60px;
}

#grve-sidebar.grve-sidebar-colored .widget:last-child,
#grve-sidebar.grve-sidebar-colored .widgets:last-child {
	margin-bottom: 0;
}

.grve-widget-title {
	margin-bottom: 0.800em;
}
/**
* Widget Categories
* ----------------------------------------------------------------------------
*/
.widget.widget_categories ul {
	margin: 0;
	list-style: none;
}

.widget.widget_categories li {
	margin-bottom: 10px;
}

.widget.widget_categories li ul {
	padding-left: 10px;
}

.widget.widget_categories > ul > li > ul {
	margin-top: 10px;
}

.widget.widget_categories li ul li {
	margin-bottom: 0px;
}



/**
* Widget Archive
* ----------------------------------------------------------------------------
*/
.widget.widget_archive ul {
	margin: 0;
	list-style: none;
}

.widget.widget_archive li {
	margin-bottom: 10px;
}

/**
* Widget Pages
* ----------------------------------------------------------------------------
*/
.widget.widget_pages ul {
	margin: 0;
	list-style: none;
}

.widget.widget_pages li {
	margin-bottom: 10px;
}

.widget.widget_pages li ul {
	padding-left: 10px;
}

.widget.widget_pages > ul > li > ul {
	margin-top: 10px;
}

.widget.widget_pages li ul li {
	margin-bottom: 0px;
}

/**
* Widget Recent Post
* ----------------------------------------------------------------------------
*/
.widget.widget_recent_entries ul {
	margin: 0;
	list-style: none;
}

.widget.widget_recent_entries li {
	margin-bottom: 10px;
}

.widget.widget_recent_entries li span.post-date {
	display: block;
	margin-top: -5px;
	letter-spacing: 0.300em;
}

/**
* Widget Custom Menu
* ----------------------------------------------------------------------------
*/
.widget.widget_nav_menu ul {
	margin: 0;
	list-style: none;
}

.widget.widget_nav_menu li {
	margin-bottom: 10px;
}

.widget.widget_nav_menu li ul {
	padding-left: 10px;
}

.widget.widget_nav_menu .menu > li > ul {
	margin-top: 10px;
}

.widget.widget_nav_menu li ul li {
	margin-bottom: 0px;
}


/**
* Widget Calendar
* ----------------------------------------------------------------------------
*/
.widget.widget_calendar {
	position: relative;
}

.widget.widget_calendar table {
	width: 100%;
	border-collapse:collapse;
}

.widget.widget_calendar table tbody td {
	padding: 4px;
	font-size: 11px;
}

.widget.widget_calendar table th {
	text-align: center;
	padding: 10px 0;
	width: 14.28%;
}

.widget.widget_calendar caption {
	padding: 10px 0;
	letter-spacing: 0.300em;
}

/**
* Widget RSS
* ----------------------------------------------------------------------------
*/
.widget.widget_rss ul {
	margin: 0;
	list-style: none;
}

.widget.widget_rss li {
	margin-bottom: 16px;
}

.widget .rss-date {
	display: block;
	letter-spacing: 0.300em;
	margin-bottom: 5px;
}

.widget.widget_rss .grve-widget-title img {
	display: inline-block;
	margin-top: -3px;
	margin-right: 5px;
}

/**
* Widget Tagcloud
* ----------------------------------------------------------------------------
*/
.widget.widget_tag_cloud a {
	border: 1px solid;
	display: inline-block;
	letter-spacing: 0.300em;
	line-height: 3em;
	padding: 0 0.9em;
	margin-bottom: 8px;
	margin-right: 5px;
}

/**
* Widget Meta
* ----------------------------------------------------------------------------
*/
.widget.widget_meta ul {
	margin: 0;
	list-style: none;
}

.widget.widget_meta li {
	margin-bottom: 10px;
}

/**
* Widget Recent Comments
* ----------------------------------------------------------------------------
*/
.widget.widget_recent_comments ul {
	margin: 0;
	list-style: none;
}

.widget.widget_recent_comments li {
	margin-bottom: 10px;
}


/**
* Widget Contact Info (GRVE WIDGET)
* ----------------------------------------------------------------------------
*/
.grve-widget.grve-contact-info ul {
	margin: 0;
	list-style: none;
}

.grve-widget.grve-contact-info li {
	margin-bottom: 10px;
}

.grve-widget.grve-contact-info li:before {
	font-family: FontAwesome;
	margin-right: 10px;
}


/* Name */
.grve-widget.grve-contact-info li.grve-user:before {
	content: '\f007';
}

/* Address */
.grve-widget.grve-contact-info li.grve-address:before {
	content: '\f015';
}

/* Phone */
.grve-widget.grve-contact-info li.grve-phone:before {
	content: '\f095';
}

/* Mobile */
.grve-widget.grve-contact-info li.grve-mobile-number:before {
	content: '\f10b';
}

/* Fax */
.grve-widget.grve-contact-info li.grve-fax:before {
	content: '\f1ac';
}

/* Mail */
.grve-widget.grve-contact-info li.grve-email:before {
	content: '\f0e0';
}

/* Web */
.grve-widget.grve-contact-info li.grve-web:before {
	content: '\f0c1';
}

/**
* Latest News (GRVE WIDGET)
* ----------------------------------------------------------------------------
*/
.grve-widget.grve-latest-news ul {
	margin: 0;
	list-style: none;
}

.grve-widget.grve-latest-news li {
	margin-bottom: 10px;
}

.grve-widget.grve-latest-news .grve-latest-news-date {
	margin-top: -5px;
	letter-spacing: 0.300em;
}

.grve-widget.grve-latest-news li img {
	float: left;
	margin-right: 10px;
	margin-top: 6px;
	width: 40px;
	height: 40px;
}

.grve-widget.grve-latest-news li img + .grve-news-content {
	overflow: hidden;
}

/**
* Widget Latest Comments (GRVE WIDGET)
* ----------------------------------------------------------------------------
*/
.grve-widget.grve-comments ul {
	margin: 0;
	list-style: none;
}

.grve-widget.grve-comments li {
	margin-bottom: 10px;
}

.grve-widget.grve-comments .grve-comment-date {
	margin-top: -5px;
	letter-spacing: 0.300em;
}

.grve-widget.grve-comments li img {
	float: left;
	margin-right: 10px;
	margin-top: 6px;
}

.grve-widget.grve-comments li img + .grve-comment-content {
	overflow: hidden;
}

/**
* Widget Latest Portfolio (GRVE WIDGET)
* ----------------------------------------------------------------------------
*/
.grve-widget.grve-latest-portfolio {
	overflow: hidden;
	position: relative;
	z-index: 2;
}

.grve-widget.grve-latest-portfolio ul {
	margin: 0;
	list-style: none;
}

.grve-widget.grve-latest-portfolio li {
	margin: 1px;
	position: relative;
	float: left;
}
.grve-widget.grve-latest-portfolio li a {
	display: block;
	overflow: hidden;
}
.grve-widget.grve-latest-portfolio li a img {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.grve-widget.grve-latest-portfolio li a:hover img {
	opacity: 0.6;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

/**
* Widget Instagram Feed (GRVE WIDGET)
* ----------------------------------------------------------------------------
*/
.grve-widget.grve-instagram-feed {
	overflow: hidden;
	position: relative;
	z-index: 2;
}

.grve-widget.grve-instagram-feed ul {
	margin: 0;
	list-style: none;
}

.grve-widget.grve-instagram-feed li {
	margin: 1px;
	position: relative;
	float: left;
}
.grve-widget.grve-instagram-feed li a {
	display: block;
	overflow: hidden;
}
.grve-widget.grve-instagram-feed li a img {
	width: 60px;
	height: 60px;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.grve-widget.grve-instagram-feed li a:hover img {
	opacity: 0.6;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}

/**
* Widget Latest Social (GRVE WIDGET)
* ----------------------------------------------------------------------------
*/
.grve-widget.grve-social {
	overflow: hidden;
}

.grve-widget.grve-social ul {
	margin: 0;
	list-style: none;
}

.grve-widget.grve-social li {
	float: left;
	margin: 0px 10px 10px 0;
	position: relative;
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.grve-widget.grve-social li a {
	display: inline-block;
	width: inherit;
	height: inherit;
	line-height: inherit;
	text-align: center;
	font-size: 16px;
	border: 1px solid;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
/**
* Widget Polylang
* ----------------------------------------------------------------------------
*/
.grve-widget.widget_polylang ul {
	margin: 0;
	list-style: none;
}

.grve-widget.widget_polylang ul li {
	margin-bottom: 10px;
}

.grve-widget.widget_polylang ul li img{
	margin-top: -2px;
	margin-right: 5px;
}