<div class="wpb_column grve-column grve-bookmark grve-column-1" *ngIf="(user$ | async)">
  <h3 class="vc_custom_heading">
    PROFILE
  </h3>
  <div class="grve-element grve-image border-rad grve-align-left" style="margin-bottom: 40px;">
    <img alt="profile image" width="150" height="150" class="featured-image attachment-thumbnail size-thumbnail" [src]="(user$ | async).picture" />
  </div>
  <div class="profile-area grve-element grve-text">
    <p class="user-data"><strong>Name:</strong> {{(user$ | async).first }} {{(user$ | async).last }}
    </p>
    <p>
      <strong>Mobile:</strong> {{(user$ | async).phone }}
    </p>
    <p class="user-data">
      <strong>Faculty:</strong> {{(user$ | async).faculty }}
    </p>
  </div>
  <button class="button-submit" type="button" (click)="logout()">Logout</button>
</div>

<div class="wpb_column grve-column grve-bookmark grve-column-1" *ngIf="!(user$ | async)">
  <h3 class="vc_custom_heading" *ngIf="!register">
    LOGIN
  </h3>
  <h3 class="vc_custom_heading" *ngIf="register">
    REGISTER
  </h3>

  <form class="example-form" [formGroup]="userFormGroup" (ngSubmit)="submit(userFormGroup.value)">
    <mat-form-field class="example-full-width">
      <i class="fa fa-envelope"></i><label>Email</label>
      <input matInput formControlName="email" type="email" [errorStateMatcher]="userFormMatcher" required>
      <mat-error *ngIf="userFormGroup.controls.email.hasError('email') && !userFormGroup.controls.email.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="userFormGroup.controls.email.hasError('pattern') && !userFormGroup.controls.email.hasError('email') && !userFormGroup.controls.email.hasError('required')">
        Email must be a UNIBZ email
      </mat-error>
      <mat-error *ngIf="userFormGroup.controls.email.hasError('required')">
        Email is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <i class="fa fa-key"></i><label>Password</label>
      <input matInput formControlName="password" [errorStateMatcher]="userFormMatcher" [type]="showPassword? 'text' : 'password'"
             required>
      <mat-icon matSuffix matTooltip="show" *ngIf="!showPassword" (click)="showPassword = !showPassword">visibility_off</mat-icon>
      <mat-icon matSuffix matTooltip="hide" *ngIf="showPassword" (click)="showPassword = !showPassword">visibility</mat-icon>
      <mat-error *ngIf="userFormGroup.controls.password.hasError('minlength') && !userFormGroup.controls.password.hasError('required')">
        Password must be at least 5 symbols long
      </mat-error>
      <mat-error *ngIf="userFormGroup.controls.password.hasError('maxlength') && !userFormGroup.controls.password.hasError('required')">
        Password may be at most 20 symbols long
      </mat-error>
      <mat-error *ngIf="userFormGroup.controls.password.hasError('required')">
        Password is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="register" class="example-full-width">
      <i class="fa fa-user"></i><label>First Name</label>
      <input matInput formControlName="first" type="text">
    </mat-form-field>

    <mat-form-field *ngIf="register" class="example-full-width">
      <i class="fa fa-user"></i><label>Last Name</label>
      <input matInput formControlName="last" type="text">
    </mat-form-field>

    <mat-form-field *ngIf="register" class="example-full-width">
      <i class="fa fa-phone"></i><label>Contact Phone</label>
      <input matInput formControlName="phone" type="phone">
    </mat-form-field>

    <mat-form-field *ngIf="register" class="example-full-width">
      <i class="fa fa-star"></i><label>Faculty</label>
      <input matInput formControlName="faculty" type="text">
    </mat-form-field>

    <button *ngIf="!register" class="button-submit" type="submit" [disabled]="userFormGroup.invalid">Login</button>
    <button *ngIf="register" class="button-submit" type="submit" [disabled]="userFormGroup.invalid">Register</button>
    <p>
      <small>
        <a class="help-link" *ngIf="!register" [routerLink]="">Forgot password?</a>
      </small>
    </p>
    <p>
      <small>

        <a class="help-link" *ngIf="!register" [routerLink]="" (click)="register = true">Not registered? SIGN UP here.</a>
        <a class="help-link" *ngIf="register" [routerLink]="" (click)="register = false">Have an account? SIGN IN here.</a>
      </small>
    </p>
  </form>
</div>

